doctype html
html(lang='en')
  //script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/javascripts/jquery/dist/jquery.min.js')
  script(src='/javascripts/question_operation_list.js')
  script(src='/javascripts/socket.io.js')
  script(src='/javascripts/operation.js')

  
  script(type='text/javascript')| var exam_code =!{JSON.stringify(exam_code)};
 
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    Take Exam
  
    // CSS
    link(rel='stylesheet', href='/stylesheets/assets/bootstrap/css/font.css')
    link(rel='stylesheet', href='/stylesheets/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/assets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/assets/css/form-elements.css')
    link(rel='stylesheet', href='/stylesheets/assets/css/style.css')
  body
    // Top content
    .top-content
      .inner-bg
        .container
          .row
            .col-sm-8.col-sm-offset-2.text
              h1
                strong 考试编号:"#{exam_code}"
                
                
          .row
            .col-sm-8.form-box
              .form-top
                .form-top-left
                  h3 试题
                  <br>
              .form-bottom
                p

                .form-group
                  label.sr-only(for='form-scenario') scenario
                  input#form-scenario.form-scenario.form-control(type='text', name='scenario', value=scenario)

                 button.btn(type='button' id="start_to_operation" style="display:none;") 开始实操
                  
            .col-sm-4.form-box
              .form-top

                
                .form-top-left
                  h3 题目
                  <br>
              .form-bottom
                form.form-response(role='takeexam', action='submit_operation', method='post', id='formResponse')
                  #questionList
                    table
                      thead
                        th 试题
                        //th Choice
                      tbody
                  br
                  
                  .form-group
                    label.sr-only(for='form-exam_code') exam_code
                    input#form-exam_code.form-exam_code.form-control(type='hidden', name='exam_code', value=exam_code)
                  
                  .form-group
                    label.sr-only(for='form-username') username
                    input#form-username.form-username.form-control(type='hidden', name='username', value=username)

                  
                  .form-group
                    label.sr-only(for='form-exam_start_time') exam_start_time
                    input#form-exam_start_time.form-exam_start_time.form-control(type='hidden', name='exam_start_time', value=exam_start_time)

                  .form-group
                    label.sr-only(for='form-IDnumber') IDnumber
                    input#form-IDnumber.form-IDnumber.form-control(type='hidden', name='IDnumber', value=IDnumber)
                    

                  button.btn(type='submit' id="submit" style="display:none;") 提交试卷
                  button.btn(type='button' id="submit_fake") 提交试卷
                  


                    
    // Javascript
    script(src='/stylesheets/assets/js/jquery-1.11.1.min.js')
    script(src='/stylesheets/assets/bootstrap/js/bootstrap.min.js')
    script(src='/stylesheets/assets/js/jquery.backstretch.min.js')
    script(src='/stylesheets/assets/js/scripts.js')
    //if lt IE 10
      script(src='assets/js/placeholder.js')
