
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Document List

    script.
      var record_value_son;
      var selected_value_son;
      var username_son;
      var courseid_son;
      var setValue = function() {
        var label_items = document.getElementsByTagName("label");
        var radio_items = document.getElementsByTagName("input");
        for(var i=0; i<label_items.length; i++) {
          if(radio_items[i].checked == true) {
            record_value_son = label_items[i].innerText;
            console.log(record_value_son);
          }
        }
      }
      var radio_selected = function(value){
        selected_value_son = value;
        username_son = document.getElementById('username').value;
        courseid_son = document.getElementById('courseid').value;
        console.log(username_son);
        console.log(value);
        setValue();
      }

    // CSS
    link(rel='stylesheet', href='/stylesheets/assets/bootstrap/css/font.css')
    link(rel='stylesheet', href='/stylesheets/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/assets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/assets/css/form-elements.css')
    link(rel='stylesheet', href='/stylesheets/assets/css/style.css')
  body(style='background-color:#eeeeee')

    .top-content
      .container
        .row
          .form-bottom
            .col-sm-12
              form.login-form(role='form')
                ul
                  - if(array1 != null) {for (var i = 0; i < array1.length; ++i) {
                      li
                        <input type="radio" name="radiobutton" onclick = "radio_selected(this.value)" style='margin-left:0px' value= #{array1[i]} > #{array1[i]}
                        <span class='badge'> #{array2[i]}
                        <input type="hidden" id="username" name="username" value=#{username}>
                        <input type="hidden" id="courseid" name="courseid" value=#{courseid[i]}>
                  - }}
                        

    // Javascript
    //script(src='/javascripts/pdfobject/pdfobject.min.js')
    script(src='/stylesheets/assets/js/jquery-1.11.1.min.js')
    script(src='/stylesheets/assets/bootstrap/js/bootstrap.min.js')
    //script(src='/stylesheets/assets/js/jquery.backstretch.min.js')
    script(src='/stylesheets/assets/js/scripts.js')
    //if lt IE 10
      script(src='assets/js/placeholder.js')
